@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-vindo</h1>
    <p class="clique">Clique nos botões abaixo</p>
    
    <a href="/Padaria/Create" class="btn btn-primary expandir">Ir para a tela de cadastro</a>
    <a href="/Padaria/padaria" class="btn btn-primary expandir">Ir para a tela da padaria</a>
</div>
