/* Tamanhos de fonte responsivos */

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Estilo para o foco dos botões e campos */

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-control {
  background: gray;
}

/* Definições gerais de layout */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: #ffc07e;
}

p {
  margin: 20px auto; /* ajuste a margem conforme necessário */
  max-width: 600px; /* ajuste a largura máxima do parágrafo conforme necessário */
  text-align: justify; /* alinha o texto justificado */
}

.text-center {
  text-align: center;
}

/* Estilo para as imagens dos produtos */

.product-image {
  width: 100%; 
  height: 80% !important; 

  border-radius: 5%;
}

/* Estilo para o formulário de cadastro de padaria */

h2 {
  margin-top: 50px;
  text-align: center;
}

form {
  margin-top: 50px;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input[type="submit"] {
  background-color: #258cfb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #1e70db;
}

/* Estilo para o ícone */

.custom-icon {
  width: 60px;
  height: 26px;
}

/* Estilo para o ícone do telefone */

.telefone {
  align-items: center;
}

.telefone svg {
  margin-right: 5px;
}

/* Estilos para o formulário */

.form {
  margin-top: 50px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #6c757d;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}

.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

/* Logo */

.logo {
  width: 12%;
  right: 86%;
  position: absolute;
}

.vitrine {
  display: flex;
  flex-direction: row;
  gap: 4%;
}

