<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulário</title>
  </head>
  <body>
    <H1 class="title-form">Formulario para cadastro de novas Padarias</H1>
    <form action="http://localhost/formulario/processar_formulario.php" method="post" class="form">
      <label for="nome">Nome:</label>
      <input type="text" name="nome" id="nome" />

      <label for="informacoesCadastrais">Fale sobre sua Padaria:</label>
      <input
        type="text"
        name="informacoesCadastrais"
        id="informacoesCadastrais"
      />

      <label for="endereco">Endereço:</label>
      <input type="text" name="endereco" id="endereco" />

      <input type="submit" value="Enviar" class="btn-form" />
    </form>
  </body>
</html>


<link href="@Url.Content("~/wwwroot/css/site.css")" rel="stylesheet" />
