<img src="~/img/Pao.png" alt="Pães" class="logo">
<h2>Cadastro de Padaria</h2>

<form action="/Padaria/Create" method="post" class="form">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" id="Nome" name="Nome" class="form-control" />
    </div>

    <div class="form-group">
        <label for="InformacoesCadastrais">Informações Cadastrais</label>
        <input type="text" id="InformacoesCadastrais" name="InformacoesCadastrais" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Endereco">Endereço</label>
        <input type="text" id="Endereco" name="Endereco" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<link href="@Url.Content("~/wwwroot/css/site.css")" rel="stylesheet" />
