<div class="text-center">
    <h1 class="display-4">Sobre Nós</h1>
    <p>A Padaria XYZ é conhecida como a padaria mais famosa do Brasil, oferecendo produtos de alta qualidade e um ambiente acolhedor para seus clientes.</p>
    
    <h2>Produtos</h2>
    <div class="row">
        <div class="col-md-3">
            <img src="~/img/paes.jpg" alt="Pães" class="product-image">
            <h3>Pães</h3>
        </div>
        <div class="col-md-3">
            <img src="~/img/bolos.jpg" alt="Bolos" class="product-image">
            <h3>Bolos</h3>
        </div>
        <div class="col-md-3">
            <img src="~/img/lanches.jpg" alt="Lanches" class="product-image">
            <h3>Lanches</h3>
        </div>
        <div class="col-md-3">
            <img src="~/img/pizzas.jpg" alt="Pizzas" class="product-image">
            <h3>Pizzas</h3>
        </div>
    </div>

    <h2>Padarias mais proximas de você!</h2>
    <div class="row">
        <div class="col-md-4">
            <img src="~/img/padaria1.jpg" alt="Localização 1" class="product-image">
            <h3>Unidade Brasileira</h3>
            <p>Rua Brasileira 1068 </p>
            <p>11 99999-9999</p>
        </div>
        <div class="col-md-4">
            <img src="~/img/padaria2.jpg" alt="Localização 2" class="product-image">
            <h3>Unidade Ribeiro</h3>
            <p>Rua Ribeirinho 6810 </p>
            <p>11 99999-99992</p>
        </div>
        <div class="col-md-4">
            <img src="~/img/padaria3.jpg" alt="Localização 3" class="product-image">
            <h3>Unidade Portuguesa</h3>
            <p>Rua Portuguesa 1950</p>
            <p>11 99999-9999</p>
        </div>
    </div>

    <h2>Contato do Suporte</h2>
    <p>Entre em contato conosco através do formulário abaixo:</p>
    <form action="url-do-formulario-de-contato" method="post">
        <!-- Campos do formulário de contato -->
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="mensagem">Mensagem:</label>
            <textarea id="mensagem" name="mensagem" class="form-control" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar Mensagem</button>
    </form>
</div>
